{extend name="base/base" /}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header"><span>钱包余额变动</span>
        </div>
        <div class="layui-card-body">
            <div class="layui-form" style="margin-bottom: 10px;">
                <div class="layui-input-inline">
                    <input type="text" placeholder="用户手机号" id="userPhone" name="userPhone" class="layui-input ipt">
                </div>
                <div class="layui-input-inline">
                    <select id="coin" name="coin" lay-verify="required" class="ipt">
                        <option value="">请选择币种</option>
                        {volist name="coinList" id="vo"}
                        <option value="{$vo['coin']}">{$vo['coin']}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select id="type" name="type" lay-verify="required" class="ipt">
                        <option value="">操作类型</option>
                        {volist name="coinBalance" id="vo"}
                        <option value="{$vo['dCode']}">{$vo['dName']}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" id="startTime" name="startTime" placeholder="请选择时间" class="layui-input ipt">
                </div>
                <div class="layui-input-inline">
                    <input type="text" id="endTime" name="endTime" placeholder="请选择时间" class="layui-input ipt">
                </div>
                <button class="layui-btn query" data-type="reload">查询</button>
            </div>
            <table id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script>
    layui.use(['form', 'laydate', 'table'], function () {
        var laydate = layui.laydate,
            table = layui.table;
        form = layui.form;
        laydate.render({
            elem: '#startTime'
        });
        laydate.render({
            elem: '#endTime'
        });
        //渲染数据表格
        table.render({
            elem: '#userTable',
            url: SK.U('admin/Assets/balanceList'),
            id: 'tables',
            unresize: true,
            limit:20,
            limits: [20, 40, 60, 80, 100, 120],
            loading: true,
            page: true,
            edit:false,
            text: {
                none: '暂无相关数据'
            },
            cols: [[ //标题栏
                {field: 'userPhone', title: '用户手机号', align: 'center',templet:function(d) {
                    return '<span title=" ' + d.userPhone + '">' + d.userPhone + '</span>';
                }},
                {field: 'coin', title: '币种', align: 'center',templet:function(d){
                    return '<span title=" '+d.coin+'">'+d.coin+'</span>';
                }},
                {field: 'coinAddr', title: '平台分配的数字货币地址', align: 'center', templet:function(d) {
                    return '<span title=" ' + d.coinAddr + '">' + d.coinAddr + '</span>';
                }},
                {field: 'tradeType', title: '交易类型', align: 'center', templet:function(d) {
                    return '<span title=" ' + d.tradeType + '">' + d.tradeType + '</span>';
                }},
                {field: 'beforeNum', title: '操作前数量', align: 'center', templet:function(d) {
                    return '<span title=" ' + d.beforeNum + '">' + d.beforeNum + '</span>';
                }},
                {field: 'doNum', title: '操作数量', align: 'center', templet:function(d) {
                    return '<span title=" ' + d.doNum + '">' + d.doNum + '</span>';
                }},
                {field: 'afterNum', title: '操作后数量', align: 'center', templet:function(d) {
                    return '<span title=" ' + d.afterNum + '">' + d.afterNum + '</span>';
                }},
                {field: 'createTime', title: '创建时间', align: 'center', templet:function(d) {
                    return '<span title=" ' + d.createTime + '">' + d.createTime + '</span>';
                }},
                //{fixed: 'right', title: '操作', align: 'center', toolbar: '#toolBar'}
            ]],

        });
        var $ = layui.$, active = {
            reload: function () {
                var where = SK.getParams('.ipt');
                table.reload('tables', {
                    page:{
                        curr:1//从第一页重新开始
                    },
                    where: where
                });
            }
        };
        //查询按钮
        $('.query').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
{/block}