{extend name="base/base" /}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header"><span>订单统计</span>
        </div>
        <div class="layui-card-body">
            <div class="layui-form" style="min-width:1000px;margin-bottom: 10px;">
                <div class="layui-input-inline">
                    <input type="text" id="startDate" name="startDate" placeholder="开始时间" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <input type="text" id="endDate" name="endDate" placeholder="结束时间" class="layui-input">
                </div>
                <button class="layui-btn query" data-type="reload">查询</button>
                <button class="layui-btn" onclick="exportTrans();" style="float: right;margin-bottom: 10px;">导出Excel</button>
            </div>
            <table class="layui-hide" id="artTable"></table>
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script>
    layui.use(['laydate', 'table'], function () {
        var laydate = layui.laydate, table = layui.table;
        laydate.render({elem: '#startDate'});
        laydate.render({elem: '#endDate'});
        //渲染数据表格
        table.render({
            elem: '#artTable',
            id: 'tables',
            url: SK.U('admin/count/transCount'),
            limit: 20,
            limits: [20, 40, 60, 80, 100, 120],
            loading: true,
            page: true,
            text: {
                none: '暂无相关数据'
            },
            cols: [[ //标题栏
                {field: 'date', title: '日期', align: 'center'},
                {field: 'transferNumLock', title: '可用币转账订单数量', align: 'center'},
                {field: 'transferCoinLock', title: '可用币转账数字币数量', align: 'center'},
                {field: 'transferNumTotalLock', title: '可用币转账总订单数量', align: 'center'},
                {field: 'transferCoinTotalLock', title: '可用币转账总数字币数量', align: 'center'},
                {field: 'transferCoinTotalLock', title: '可用币转账总数字币数量', align: 'center'},
                {fixed: 'right', title: '操作', align: 'center', width: 180, templet: function (d) {
                    var h = '';
                    h += '<span class="layui-btn layui-btn-xs" onclick="info(' + d.id + ');">详情</span>';
                    return h;
                }}
            ]],
        });
        var $ = layui.$, active = {
            reload: function () {
                var where = SK.getParams('.layui-input');
                table.reload('tables', {
                    page:{
                        curr:1//从第一页重新开始
                    },
                    where: where
                });
            }
        }
        //查询按钮
        $('.query').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    /*详情页面*/
    function info(id) {
        SK.popupRight('LAY_PopupUsers', SK.U('admin/Count/transInfo', 'id=' + id), '600px');
    }

    //订单统计数据导出
    function exportTrans() {
        layer.confirm('确认导出订单统计数据吗？',{icon:3,title:'订单统计数据导出'},function (index) {
            layer.close(index);
            var where = SK.getParams('.layui-input');
            window.location.href = SK.U('admin/count/exportTrans')+'?startDate='+where.startDate+'&endDate='+where.endDate;
        })
    }
</script>
{/block}