{extend name="base/base" /}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">{if condition="$ischild eq 1"}新增子目录{else}{if
            condition="isset($info['menuId'])"}目录修改{else}目录新增{/if}{/if}
        </div>
        <div class="layui-card-body">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">目录名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="menuName" id="menuName" required
                                       lay-verify="required" placeholder="目录名称" value="{$info.menuName}"
                                       autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">别名</label>
                            <div class="layui-input-block">
                                <input type="text" name="alias" id="alias" placeholder="别名，英文名 图标ico名称"
                                       value="{$info.alias}"
                                       autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-input-block">
                                <input type="text" name="menuSort" id="menuSort" required
                                       lay-verify="required" placeholder="排序"
                                       value="{$info.menuSort}" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input type="hidden" name="ischild" id="ischild" value="{$ischild}"
                                       class="layui-input">
                                {if condition="$ischild eq 1"}
                                <input type="hidden" name="menuId" id="menuId" value="{$menuid}"
                                       class="layui-input">
                                {else}
                                <input type="hidden" name="menuId" id="menuId" value="{$info.menuId}"
                                       class="layui-input">
                                {/if}
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script>
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            //console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

            var url = '';
            if ($('#ischild').val() == 1) {
                url = SK.U('admin/menus/add');
            } else {
                url = SK.U('admin/menus/' + ((data.field.menuId == 0) ? "add" : "edit"));
            }
            $.post(url, data.field, function (res) {
                layer.msg(res.msg, {time: 2000});
                if (res.status == 1) {
                    setTimeout('location.reload()', 2000);
                }
            }, 'json');
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>

{/block}